{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
<div class="container py-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">Тренеры</h2>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover align-middle">
            <thead class="table-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Фамилия</th>
                    <th scope="col">Имя</th>
                    <th scope="col">Отчество</th>
                    <th scope="col">Группы</th>
                    <th scope="col">Общее кол-во спортсменов</th>
                    <th scope="col" class="text-end">Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for coach in coaches %}
                <tr>
                    <td>{{ coach.id }}</td>
                    <td>{{ coach.last_name }}</td>
                    <td>{{ coach.first_name }}</td>
                    <td>{{ coach.middle_name }}</td>
                    <td>
                        {% for group in coach.group_set.all %}
                        <span class="badge bg-primary">{{group.group_name}}</span>
                        {% endfor %}
                    </td>
                    <td></td>
                    <td class="text-end">
                        <button class="btn btn-primary btn-sm show-groups-btn " data-bs-toggle="modal"
                            data-bs-target="#coachModal" data-id="{{ coach.pk }}">
                            <i class="bi bi-plus-lg"></i> Показать группы
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>
<div class="modal fade" id="coachModal" tabindex="-1" aria-labelledby="coachModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Группы тренера</label>
                    <div id='groupsCheckboxList' class='list-group'>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-success save-groups">Сохранить</button>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const modalBody = document.querySelector('#coachModal .modal-body')
        const list = document.getElementById('groupsCheckboxList')
        let coachId

        document.querySelectorAll('.show-groups-btn').forEach(btn => {
            btn.onclick = () => {
                coachId = btn.dataset.id
                fetch(`/administrator/coach/${coachId}`)
                    .then(response => response.json())
                    .then(data => {
                        // Начинаем с чистой модалки
                        list.innerHTML = ''

                        data.all_groups.forEach(group => {
                            const checked = data.coach_groups.some(g => g.id === group.id)

                            const item = document.createElement('label')
                            item.className = 'list-group-item d-flex align-items-center gap-2'
                            item.innerHTML = `
                        <input
                            class="form-check-input"
                            type="checkbox"
                            value="${group.id}"
                            ${checked ? 'checked' : ''}>
                        <span>${group.group_name}</span>
                    `
                            list.append(item)
                        })
                    })
            }
        })
        document.querySelector('.save-groups').onclick = () => {
            const selectedGroups = Array.from(
                document.querySelectorAll('#groupsCheckboxList input:checked')
            ).map(input => Number(input.value))

            fetch(`/administrator/save_coach_groups/${coachId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')// getCookie - вернет тот параметр который мы запросим, в данном случае она возвращает csrf - токен
                },
                body: JSON.stringify({ groups: selectedGroups })
            })
                .then(response => location.reload())  // promise - действия которые выполняются раз за разом.
                .catch(error => console.log(error))

        }
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let cookie of cookies) {
                    cookie = cookie.trim();
                    if (cookie.startsWith(name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }


            return cookieValue;
        }
    }) 
</script>
{% endblock %}