{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
<div class="container py-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">График соревнований</h2>
        <a href="#" class="btn btn-primary add-competition" data-bs-toggle="modal" data-bs-target="#competitionModal">
            <i class="bi bi-building me-2"></i>
            Добавить соревнование
        </a>
    </div>

    <table class="table table-striped table-hover align-middle">
        <thead class="table-light">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Название</th>
                <th scope="col">Вид спорта</th>
                <th scope="col">Дата проведения</th>
                <th scope="col">Место проведения</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="competitionTableBody">
            {% for competition in competitions %}
            <tr id="competition-{{ competition.id }}">
                <td>{{ competition.id }}</td>
                <td>{{ competition.title }}</td>
                <td>{{ competition.sport_type}}</td>
                <td>{{ competition.date_start|date:"d.m.Y H:i" }} - <br>
                    {{ competition.date_end|date:"d.m.Y H:i" }}
                </td>
                <td>{{ competition.address}}</td>
                <td class="text-end">
                    <div class="dropdown">
                        <button class="btn btn-sm btn-light" type="button" data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a href="#" class="dropdown-item edit-competition" data-id="{{ competition.pk }}"
                                    data-bs-toggle="modal" data-bs-target="#competitionModal">
                                    <i class="bi bi-pencil"></i>
                                    Редактировать
                                </a>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item delete-competition-btn"
                                    data-bs-toggle="modal" data-bs-target="#deleteCompetitionModal"
                                    id="{{ competition.pk }}">
                                    <i class="bi bi-trash"></i>
                                    Удалить
                                </button>
                            </li>
                        </ul>
                    </div>
                </td>

            </tr>
            {% endfor %}
        </tbody>

    </table>

    <!-- Модальное окно добавления соревнования -->
    <div class="modal fade" id="competitionModal" tabindex="-1" aria-labelledby="competitionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="competitionForm">
                    <input type="hidden" name="competition_id" id="competition_id">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        {% csrf_token %}
                        {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                            <div class="text-danger">{{ field.errors }}</div>
                        </div>
                        {% endfor %}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-success save-hall">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Модальное окно удаления соревнования -->
    <div class="modal fade" id="deleteCompetitionModal" tabindex="-1" aria-labelledby="deleteCompetitionModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteCompetitionModalLabel">Удалить соревнование?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить соревнование? 
                    <div class="alert alert-warning mt-2">
                        Вся информация о соревновании будет удалена!
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <form id="deleteCompetitionForm" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    // При нажатие кнопки добавить работы модалки переключится на добавление
    document.querySelector('.add-competition').addEventListener('click', function () {

        const form = document.getElementById('competitionForm')

        form.reset()
        form.dataset.mode = "add"
        form.dataset.id = ""
    })
    // открытие модалки удаления
    document.querySelectorAll('.delete-competition-btn').forEach(function (btn) {

        btn.addEventListener('click', function () {

            const competitionId = this.id

            document.getElementById('deleteCompetitionForm').dataset.id = competitionId

        })

    })
    // Выполнение функции редактироваия
    document.querySelectorAll('.edit-competition').forEach(function (btn) {

        btn.addEventListener('click', function () {

            const id = this.dataset.id

            fetch('/administrator/get_competition/' + id + '/')
                .then(res => res.json())
                .then(data => {
                    console.log(data);

                    document.getElementById('competition_id').value = data.id
                    document.querySelector('[name="title"]').value = data.title
                    document.querySelector('[name="sport_type"]').value = data.sport_type
                    document.querySelector('[name="address"]').value = data.address
                    document.querySelector('[name="date_start"]').value = formatDateTimeLocal(data.date_start)
                    document.querySelector('[name="date_end"]').value = formatDateTimeLocal(data.date_end)


                    // Указываем, что форма теперь в режиме редактирования
                    document.getElementById('competitionForm').dataset.mode = "edit"
                    document.getElementById('competitionForm').dataset.id = id

                })

        })

    })
    // Сохранение добавленных соревнований и редактирование соревнований с последующим охранением
    document.getElementById('competitionForm').onsubmit = function (e) {

        e.preventDefault()

        const form = this
        const formData = new FormData(form)

        let url = '/administrator/add_competition/'
        let methodType = "add"

        if (form.dataset.mode === "edit") {
            url = '/administrator/edit_competition/' + form.dataset.id + '/'
            methodType = "edit"
        }

        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: formData
        })
            .then(res => res.json())
            .then(data => {

                if (data.success) {

                    const p = data.competition
                    const buttons = `<td class="text-end">
                    <div class="dropdown">
                        <button class="btn btn-sm btn-light" type="button" data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a href="#" class="dropdown-item edit-competition" data-id="${p.id}""
                                    data-bs-toggle="modal" data-bs-target="#competitionModal">
                                    <i class="bi bi-pencil"></i>
                                    Редактировать
                                </a>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item delete-competition-btn" data-bs-toggle="modal"
                                    data-bs-target="#deleteCompetitionModal" id="${p.id}">
                                    <i class="bi bi-trash"></i>
                                    Удалить
                                </button>
                            </li>
                        </ul>
                    </div>
                </td>`

                    if (methodType === "add") {

                        const row = `
                    <tr id="competition-${p.id}">
                        <td>${p.id}</td>
                        <td>${p.title}</td>
                        <td>${p.sport_type}</td>
                        <td>${formatDateTime(p.date_start)} - <br>
                            ${formatDateTime(p.date_end)}</td>
                        <td>${p.address}</td>
                            ${buttons}
                    </tr>
                    `

                        document.getElementById("competitionTableBody")
                            .insertAdjacentHTML("beforeend", row)

                    } else {

                        // Обновляем существующую строку
                        const row = document.getElementById("competition-" + p.id)

                        row.children[1].textContent = p.title
                        row.children[2].textContent = p.sport_type
                        row.children[3].innerHTML = ` ${formatDateTime(p.date_start)} - <br>
                            ${formatDateTime(p.date_end)}`
                        row.children[4].textContent = p.address
                    }

                    bootstrap.Modal.getInstance(
                        document.getElementById('competitionModal')
                    ).hide()

                    form.reset()
                    form.dataset.mode = "add"
                    form.dataset.id = ""

                } else {
                    alert(JSON.stringify(data.errors))
                }

            })
    }
    //  удаление соревнования
    let id;
    let competitionDeleteForm = document.querySelector('#deleteCompetitionForm')
     competitionDeleteForm.onsubmit = function (event) {

        event.preventDefault()

        const id = this.dataset.id

        fetch('/administrator/delete_competition/' + id + '/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            },
        })
            .then(response => {
                if (response.ok) {
                    document.getElementById('competition-' + id).remove()
                    bootstrap.Modal.getInstance(
                        document.getElementById('deleteCompetitionModal')
                    ).hide()
                }
            })
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let cookie of cookies) {
                cookie = cookie.trim();
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }


        return cookieValue;
    }
    function formatDateTime(datetime) {
        const date = new Date(datetime);

        const formatted = date.toLocaleString('ru-RU', {
            day: '2-digit',
            month: '2-digit',
            year: 'numeric',
            hour: '2-digit',
            minute: '2-digit',
        });
        return formatted
    }

    function formatDateTimeLocal(dateString) {
        const date = new Date(dateString)

        const pad = (n) => n.toString().padStart(2, '0')

        return date.getFullYear() + '-' +
            pad(date.getMonth() + 1) + '-' +
            pad(date.getDate()) + 'T' +
            pad(date.getHours()) + ':' +
            pad(date.getMinutes())
    }
</script>
{% endblock %}