{% extends 'base_layout.html' %}
{% load static %}

{% block content %}

<body class="d-flex justify-content-center" style="height: 100vh;">
    <form action="{% url 'administrator:update_schedule' schedule_id %}" method="post" class="p-4 border rounded"
        style="width: 600px; min-width: 300px;">
        {% csrf_token %}
        <div class="mb-3">
            <label for="coachSelect" class="form-label">Выберите тренера</label>
            <select name="coach" required class="form-select" id="coachSelect">
               
                {% for coach in coaches %}
                <option value="{{coach.id}}"{% if coach.id == coach_id %} selected {% endif %}>{{ coach.get_full_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="groupSelect" class="form-label">Выберите группу</label>
            <select name="group" required class="form-select" id="groupSelect">
                <option value="{{group_data.id}}" selected>{{group_data.group_name}}</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="hallSelect" class="form-label">Выберите зал</label>
            <select name="hall" required class="form-select" id="hallSelect">
                
                {% for hall in halls %}
                <option value="{{hall.id}}"{% if hall.id == hall_id %} selected {% endif %}>{{ hall.hall_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="periodSelect" class="form-label">Выберите период</label>
            <select name="period" required class="form-select" id="periodSelect">
                {% for period in periods %}
                <option value="{{period.id}}"{% if period.id == period_id %} selected {% endif %}>{{ period.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Выберите дни недели</label>
            {% for weekday in weekdays %}
            <div class="form-check">
                <input name="weekdays" class="form-check-input" type="checkbox" id="day-{{weekday.id}}"
                    value="{{weekday.id}}"{% if weekday.id in weekdays_id %}checked{% endif %}>
                <label class="form-check-label" for="day-{{weekday.id}}">
                    {{weekday.name}}
                </label>
            </div>

            {% endfor %}
        </div>
        <div class="mb-3">
            <label for="weekdaysSelect" class="form-label">Выберите время тренировки</label>
            <br>
            <input name="start_time" required type="time" class="form-control-sm" value="{{ start_time|time:'H:i' }}"> -
             <input name="end_time" required type="time" class="form-control-sm" value="{{ end_time|time:'H:i' }}">
        </div>
        <div class="d-flex justify-content-center gap-1">
            <button type="submit" class="btn btn-primary w-100">Сохранить</button>
            <a href="{% url 'administrator:schedule' %}" class="btn btn-secondary w-100">Отменить</a>
        </div>


        {% if form.non_field_errors %}
        <div class="text-danger mt-3">
            {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        
        {% endif %}
        {% for field, errors in form.errors.items %}
        {% for error in errors %}
        <p class="text-danger">{{ field }}: {{ error }}</p>
        {% endfor %}
        {% endfor %}
       
    </form>
</body>
<script>
    // Делаем выбор дня недели обязательным полем 

    document.querySelector('form').addEventListener('submit', function () {
        let inputs = document.querySelectorAll('input[name="weekdays"]:checked')
        if (inputs.length === 0) {
            alert('Выберите хотябы один день')
        }

    })
    // Каскадный показ групп выбранного тренера

    let coachSelect = document.querySelector('#coachSelect')
    let groupSelect = document.querySelector('#groupSelect')

    coachSelect.addEventListener('change', function () {
        let coachId = coachSelect.value;

        if (!coachId) return

        fetch(`/administrator/fetch_coach_groups/${coachId}`)
            .then(response => response.json())
            .then(data => {
                groupSelect.innerHTML = '<option value="" selected disabled>Не выбрано</option>'

                data.groups.forEach((item) => {
                    let option = document.createElement('option')
                    option.setAttribute('id', item.id)
                    option.textContent = item.group_name
                    groupSelect.append(option)
                })
            })
    })
</script>
{% endblock %}


