{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
<div class="container py-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">Задания КПИ</h2>
        <a href="#" class="btn btn-primary add-assessment" data-bs-toggle="modal" data-bs-target="#assessmentModal">
            <i class="bi bi-building me-2"></i>
            Добавить испытание
        </a>
    </div>

    <table class="table table-striped table-hover align-middle">
        <thead class="table-light">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Название</th>
                <th scope="col">Этап подготовки</th>
                <th scope="col">Котрольный результат мальчики</th>
                <th scope="col">Котрольный результат девочки</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="assessmentTableBody">
            {% for test_item in data %}
            <tr id="test_items-{{ test_items.id }}">
                <td>{{ test_item.id }}</td>
                <td>{{ test_item.name }}</td>
                <td>{{ test_item.stage }}</td>
                <td>{{ test_item.max_cor_male }}</td>
                <td>{{ test_item.max_cor_female }}</td>
                <td class="text-end">
                    <div class="dropdown">
                        <button class="btn btn-sm btn-light" type="button" data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a href="#" class="dropdown-item edit-assessment" data-id="{{ assessment.pk }}"
                                    data-bs-toggle="modal" data-bs-target="#assessmentModal">
                                    <i class="bi bi-pencil"></i>
                                    Редактировать
                                </a>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item delete-assessment-btn"
                                    data-bs-toggle="modal" data-bs-target="#deleteAssessmentModal"
                                    id="{{ assessment.pk }}">
                                    <i class="bi bi-trash"></i>
                                    Удалить
                                </button>
                            </li>
                        </ul>
                    </div>
                </td>

            </tr>
            {% endfor %}
        </tbody>

    </table>

    <!-- Модальное окно добавления КПИ -->
    <div class="modal fade" id="assessmentModal" tabindex="-1" aria-labelledby="assessmentModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="assessmentForm">
                    <input type="hidden" name="assessment" id="assessment_id">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        {% csrf_token %}
                        {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                            <div class="text-danger">{{ field.errors }}</div>
                        </div>
                        {% endfor %}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-success save-hall">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Модальное окно удаления соревнования -->
    <div class="modal fade" id="deleteAssessmentModal" tabindex="-1" aria-labelledby="deleteAssessmentModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteAssessmentModalLabel">Удалить КПИ?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить КПИ?
                    <div class="alert alert-warning mt-2">
                        Вся информация о КПИ будет удалена!
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <form id="deleteAssessmentForm" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    // При нажатие кнопки добавить работы модалки переключится на добавление
    document.querySelector('.add-assessment').addEventListener('click', function () {

        const form = document.getElementById('assessmentForm')

        form.reset()
        form.dataset.mode = "add"
        form.dataset.id = ""
    })
    // открытие модалки удаления
    document.querySelectorAll('.delete-assessment-btn').forEach(function (btn) {

        btn.addEventListener('click', function () {

            const assessmentId = this.id

            document.getElementById('deleteAssessmentForm').dataset.id = assessmentId

        })

    })
    // Выполнение функции редактироваия
    document.querySelectorAll('.edit-assessment').forEach(function (btn) {

        btn.addEventListener('click', function () {

            const id = this.dataset.id

            fetch('/administrator/get_assessment/' + id + '/')
                .then(res => res.json())
                .then(data => {
                    console.log(data);

                    document.getElementById('assessment_id').value = data.id
                    document.querySelector('[name="name"]').value = data.name
                    document.querySelector('[name="coach"]').value = data.coach

                    fetch(`/administrator/fetch_coach_groups/${data.coach}`)
                        .then(response => response.json())
                        .then(groupsData => {

                            groupSelect.innerHTML = '<option value="" disabled>Не выбрано</option>'

                            groupsData.groups.forEach((item) => {
                                let option = document.createElement('option')
                                option.value = item.id
                                option.textContent = item.group_name
                                groupSelect.append(option)
                            })

                            // 👉 ВАЖНО: ставим значение после загрузки
                            groupSelect.value = data.group
                        })
                    document.querySelector('[name="group"]').value = data.group
                    document.querySelector('[name="sport_type"]').value = data.sport_type
                    document.querySelector('[name="date_start"]').value = formatDate(data.date_start)
                    document.querySelector('[name="date_end"]').value = formatDate(data.date_end)


                    // Указываем, что форма теперь в режиме редактирования
                    document.getElementById('assessmentForm').dataset.mode = "edit"
                    document.getElementById('assessmentForm').dataset.id = id

                })

        })

    })
    // Сохранение добавленных соревнований и редактирование соревнований с последующим охранением
    document.getElementById('assessmentForm').onsubmit = function (e) {

        e.preventDefault()

        const form = this
        const formData = new FormData(form)

        let url = '/administrator/add_assessment/'
        let methodType = "add"

        if (form.dataset.mode === "edit") {
            url = '/administrator/edit_assessment/' + form.dataset.id + '/'
            methodType = "edit"
        }

        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: formData
        })
            .then(res => res.json())
            .then(data => {

                if (data.success) {

                    const p = data.assessment
                    const buttons = `<td class="text-end">
                    <div class="dropdown">
                        <button class="btn btn-sm btn-light" type="button" data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a href="#" class="dropdown-item edit-assessment" data-id="${p.id}""
                                    data-bs-toggle="modal" data-bs-target="#assessmentModal">
                                    <i class="bi bi-pencil"></i>
                                    Редактировать
                                </a>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item delete-assessment-btn" data-bs-toggle="modal"
                                    data-bs-target="#deleteAssessmentModal" id="${p.id}">
                                    <i class="bi bi-trash"></i>
                                    Удалить
                                </button>
                            </li>
                        </ul>
                    </div>
                </td>`

                    if (methodType === "add") {

                        const row = `
                    <tr id="assessment-${p.id}">
                        <td>${p.id}</td>
                        <td>${p.name}</td>
                        <td>${p.coach}</td>
                        <td>${p.group}</td>
                        <td>${p.sport_type}</td>
                        <td>${formatDateTime(p.date_start)} - <br>
                            ${formatDateTime(p.date_end)}</td>
                            ${buttons}
                    </tr>
                    `

                        document.getElementById("assessmentTableBody")
                            .insertAdjacentHTML("beforeend", row)

                    } else {

                        // Обновляем существующую строку
                        const row = document.getElementById("assessment-" + p.id)

                        row.children[1].textContent = p.name
                        row.children[2].textContent = p.coach
                        row.children[3].textContent = p.group
                        row.children[4].textContent = p.sport_type
                        row.children[5].innerHTML = ` ${formatDateTime(p.date_start)} - <br>
                            ${formatDateTime(p.date_end)}`
                    }

                    bootstrap.Modal.getInstance(
                        document.getElementById('assessmentModal')
                    ).hide()

                    form.reset()
                    form.dataset.mode = "add"
                    form.dataset.id = ""

                } else {
                    alert(JSON.stringify(data.errors))
                }

            })
    }
    //  удаление соревнования
    let id;
    let assessmentDeleteForm = document.querySelector('#deleteAssessmentForm')
    assessmentDeleteForm.onsubmit = function (event) {

        event.preventDefault()

        const id = this.dataset.id

        fetch('/administrator/delete_assessment/' + id + '/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            },
        })
            .then(response => {
                if (response.ok) {
                    document.getElementById('assessment-' + id).remove()
                    bootstrap.Modal.getInstance(
                        document.getElementById('deleteAssessmentModal')
                    ).hide()
                }
            })
    }
    // Каскадный показ групп выбранного тренера
    let coachSelect = document.querySelector('#id_coach')
    let groupSelect = document.querySelector('#id_group')

    coachSelect.addEventListener('change', function () {
        let coachId = coachSelect.value;

        if (!coachId) return

        fetch(`/administrator/fetch_coach_groups/${coachId}`)
            .then(response => response.json())
            .then(data => {
                groupSelect.innerHTML = '<option value="" selected disabled>Не выбрано</option>'

                data.groups.forEach((item) => {
                    let option = document.createElement('option')
                    option.value = item.id
                    option.textContent = item.group_name
                    groupSelect.append(option)
                })
            })
    })

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let cookie of cookies) {
                cookie = cookie.trim();
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }


        return cookieValue;
    }
    function formatDateTime(datetime) {
        const date = new Date(datetime);

        const formatted = date.toLocaleString('ru-RU', {
            day: '2-digit',
            month: '2-digit',
            year: 'numeric',
        });
        return formatted
    }

    function formatDate(dateString) {
        const date = new Date(dateString)

        const pad = (n) => n.toString().padStart(2, '0')

        return date.getFullYear() + '-' +
            pad(date.getMonth() + 1) + '-' +
            pad(date.getDate())
    }
</script>
{% endblock %}