{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
<div class="container py-4">

    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="mb-0">Задания КПИ</h2>
        <a href="#" class="btn btn-primary add-test-item" data-bs-toggle="modal" data-bs-target="#testItemModal">
            <i class="bi bi-building me-2"></i>
            Добавить испытание
        </a>
    </div>

    <table class="table table-striped table-hover align-middle">
        <thead class="table-light">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Название</th>
                <th scope="col">Этап подготовки</th>
                <th scope="col">Котрольный результат мальчики</th>
                <th scope="col">Котрольный результат девочки</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody id="testItemTableBody">
            {% for test_item in data %}
            <tr id="test_item-{{ test_item.id }}">
                <td>{{ test_item.id }}</td>
                <td>{{ test_item.name }}</td>
                <td>{{ test_item.stage }}</td>
                <td>{{ test_item.max_cor_male }}</td>
                <td>{{ test_item.max_cor_female }}</td>
                <td class="text-end">
                    <div class="dropdown">
                        <button class="btn btn-sm btn-light" type="button" data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a href="#" class="dropdown-item edit-test-item" data-id="{{ test_item.pk }}"
                                    data-bs-toggle="modal" data-bs-target="#testItemModal">
                                    <i class="bi bi-pencil"></i>
                                    Редактировать
                                </a>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item delete-test-item-btn" data-bs-toggle="modal"
                                    data-bs-target="#deleteTestItemModal" id="{{ test_item.pk }}">
                                    <i class="bi bi-trash"></i>
                                    Удалить
                                </button>
                            </li>
                        </ul>
                    </div>
                </td>

            </tr>
            {% endfor %}
        </tbody>

    </table>

    <!-- Модальное окно добавления тестов -->
    <div class="modal fade" id="testItemModal" tabindex="-1" aria-labelledby="testItemModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="testItemForm">
                    <input type="hidden" name="test-item" id="test-item-id">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">

                        {% csrf_token %}
                        {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                            <div class="text-danger">{{ field.errors }}</div>
                        </div>
                        {% endfor %}

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="submit" class="btn btn-success save-hall">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Модальное окно удаления соревнования -->
    <div class="modal fade" id="deleteTestItemModal" tabindex="-1" aria-labelledby="deleteTestItemModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteTestItemModalLabel">Удалить тестовое испытание?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Вы уверены, что хотите удалить тестовое испытание?
                    <div class="alert alert-warning mt-2">
                        Вся информация о тестовом испытание будет удалена!
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <form id="deleteTestItemForm" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    // При нажатие кнопки добавить работы модалки переключится на добавление
    document.querySelector('.add-test-item').addEventListener('click', function () {

        const form = document.getElementById('testItemForm')

        form.reset()
        form.dataset.mode = "add"
        form.dataset.id = ""
    })
    // открытие модалки удаления
    document.querySelectorAll('.delete-test-item-btn').forEach(function (btn) {

        btn.addEventListener('click', function () {

            const testItemId = this.id

            document.getElementById('deleteTestItemForm').dataset.id = testItemId

        })

    })
    // Выполнение функции редактироваия
    document.querySelectorAll('.edit-test-item').forEach(function (btn) {

        btn.addEventListener('click', function () {

            const id = this.dataset.id

            fetch('/administrator/get_test_item/' + id + '/')
                .then(res => res.json())
                .then(data => {
                    console.log(data);

                    document.getElementById('test-item-id').value = data.id
                    document.querySelector('[name="name"]').value = data.name
                    document.querySelector('[name="stage"]').value = data.stage
                    document.querySelector('[name="max_cor_male"]').value = data.max_cor_male
                    document.querySelector('[name="max_cor_female"]').value = data.max_cor_female

                    fetch(`/administrator/fetch_coach_groups/${data.coach}`)
                        .then(response => response.json())
                        .then(groupsData => {

                            groupSelect.innerHTML = '<option value="" disabled>Не выбрано</option>'

                            groupsData.groups.forEach((item) => {
                                let option = document.createElement('option')
                                option.value = item.id
                                option.textContent = item.group_name
                                groupSelect.append(option)
                            })

                            // 👉 ВАЖНО: ставим значение после загрузки
                            groupSelect.value = data.group
                        })
                    document.querySelector('[name="name"]').value = data.group
                    document.querySelector('[name="stage"]').value = data.stage
                    document.querySelector('[name="max_cor_male"]').value = data.max_cor_male
                    document.querySelector('[name="max_cor_female"]').value = data.max_cor_female


                    // Указываем, что форма теперь в режиме редактирования
                    document.getElementById('testItemForm').dataset.mode = "edit"
                    document.getElementById('testItemForm').dataset.id = id

                })

        })

    })
    // Сохранение добавленных соревнований и редактирование соревнований с последующим охранением
    document.getElementById('testItemForm').onsubmit = function (e) {

        e.preventDefault()

        const form = this
        const formData = new FormData(form)

        let url = '/administrator/add_test_items/'
        let methodType = "add"

        if (form.dataset.mode === "edit") {
            url = '/administrator/edit_test_item/' + form.dataset.id + '/'
            methodType = "edit"
        }

        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            },
            body: formData
        })
            .then(res => res.json())
            .then(data => {

                if (data.success) {

                    const p = data.test
                    const buttons = `<td class="text-end">
                    <div class="dropdown">
                        <button class="btn btn-sm btn-light" type="button" data-bs-toggle="dropdown">
                            <i class="bi bi-three-dots-vertical"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a href="#" class="dropdown-item edit-test-item" data-id="${p.id}""
                                    data-bs-toggle="modal" data-bs-target="#testItemModal">
                                    <i class="bi bi-pencil"></i>
                                    Редактировать
                                </a>
                            </li>
                            <li>
                                <button type="button" class="dropdown-item delete-test-item-btn" data-bs-toggle="modal"
                                    data-bs-target="#deleteTestItemModal" id="${p.id}">
                                    <i class="bi bi-trash"></i>
                                    Удалить
                                </button>
                            </li>
                        </ul>
                    </div>
                </td>`

                    if (methodType === "add") {

                        const row = `
                    <tr id="test_item-${p.id}">
                        <td>${p.id}</td>
                        <td>${p.name}</td>
                        <td>${p.stage}</td>
                        <td>${p.max_cor_male}</td>
                        <td>${p.max_cor_female}</td>
                            ${buttons}
                    </tr>
                    `

                        document.getElementById("testItemTableBody")
                            .insertAdjacentHTML("beforeend", row)

                    } else {

                        // Обновляем существующую строку
                        const row = document.getElementById("test_item-" + p.id)

                        row.children[1].textContent = p.name
                        row.children[2].textContent = p.stage
                        row.children[3].textContent = p.max_cor_male
                        row.children[4].textContent = p.max_cor_female
                    }

                    bootstrap.Modal.getInstance(
                        document.getElementById('testItemModal')
                    ).hide()

                    form.reset()
                    form.dataset.mode = "add"
                    form.dataset.id = ""

                } else {
                    alert(JSON.stringify(data.errors))
                }

            })
    }
    //  удаление соревнования
    let id;
    let testItemDeleteForm = document.querySelector('#deleteTestItemForm')
    testItemDeleteForm.onsubmit = function (event) {

        event.preventDefault()

        const id = this.dataset.id

        fetch('/administrator/delete_test-item/' + id + '/', {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            },
        })
            .then(response => {
                if (response.ok) {
                    document.getElementById('test_item-' + id).remove()
                    bootstrap.Modal.getInstance(
                        document.getElementById('deleteTestItemModal')
                    ).hide()
                }
            })
    }
    function getCookie(name) {
        let cookieValue = null;

        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');

            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();

                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(
                        cookie.substring(name.length + 1)
                    );
                    break;
                }
            }
        }

        return cookieValue;
    }
</script>
{% endblock %}