/* form{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
} */

form {
  background-color: #f8f9fa;
}

.invalid-feedback p {
  color: red;
  font-size: 0.9em;
}

.form-check-label {
  font-weight: 500;
}

body {
  margin: 0;
  padding-top: 56px;
  /* отступ для фиксированного navbar, если понадобится */
}

.navbar {
  position: fixed;
  /* фиксируем navbar вверху */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa;
  /* светлый фон, можно изменить */
  border-bottom: 1px solid #dee2e6;
  /* лёгкая тень/граница снизу */
  display: flex;
  justify-content: flex-end;
  /* выравнивание по правому краю */
  padding: 0.5rem 1rem;
  z-index: 1030;
  /* чтобы navbar был сверху над остальным контентом */
}

/* Прозрачные кнопки с ТЁМНО-СЕРОЙ рамкой */
.nav-btn.btn {
  background-color: #3B82F6 !important;
  color: white !important;
  border: 2px solid lightgray !important;
  /* ровный темно-серый */
  padding: 10px 22px;
  font-size: 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease,
    transform 0.3s ease;
}

/* Hover */
.nav-btn.btn:hover {
  background-color: lightblue (0, 0, 0, 0.06) !important;
  /* темнее, но всё ещё серый */
  color: white !important;
  transform: scale(1.05);
}

.navbar-logo {
  max-height: 40px;
  width: auto;
  transition: 0.3s;
}

.navbar-logo:hover {
  transform: scale(1.3);
}

.form-link {
  color: #0d6efd;
  /* Синий цвет Bootstrap */
  font-weight: 500;
  text-decoration: none;
}

.form-link:hover {
  text-decoration: underline;
  color: #0b5ed7;
}


body {
  overflow-x: hidden;
}

.sidebar {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 240px;
  background: #343a40;
  padding-top: 20px;
}

.sidebar a {
  color: #fff;
  padding: 12px 20px;
  display: block;
  text-decoration: none;
  transition: 0.3s;
}

.sidebar a:hover {
  background: #495057;
}

.content {
  margin-left: 240px;
  padding: 20px;
}