{% extends 'layout.html' %}
{% load static %}
{% block content %}

<body class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <form action="" method="post" class="p-4 border rounded" style="width: 400px; min-width: 300px;">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            {{ field }}
            {% if field.errors %}
            <div class="text-danger small">
                {% for error in field.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}
        <div class="d-flex justify-content-center gap-1">
        <button type="submit" class="btn btn-primary w-100">Создать</button>
        <a href="{% url 'users:users' %}" class="btn btn-secondary w-100">Отменить</a>
        </div>
       
        {% if form.non_field_errors %}
        <div class="text-danger mt-3">
            {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
        </div>
        {% endif %}
    </form>
</body>
{% endblock %}